<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chunked File Upload</title>
</head>
<body>

<input type="file" id="fileInput" />
<button onclick="uploadFile()">Upload File</button>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
async function uploadFile() {
  const fileInput = document.getElementById('fileInput');
  const file = fileInput.files[0];

  if (!file) {
    alert('Please choose a file.');
    return;
  }

  const chunkSize = 2 * 1024 * 1024; // 4MB chunks
  const chunks = Math.ceil(file.size / chunkSize);
  // const endpoint = 'https://fileupload-1-q0309417.deta.app/upload_chunk/test_123'; // Replace with your actual API endpoint
  
  file_name = 'test_1234'

  //_init_ = await axios.get(`http://localhost:8000/intialize_upload/${file_name}`)

  // upload_id = _init_.data


  for (let i = 0; i < chunks; i++) {
    const endpoint = `https://fileupload-1-q0309417.deta.app/upload_chunk/${file_name}`; // Replace with your actual API endpoint
    //const endpoint = `http://localhost:8000/upload_chunk/${file_name}`; // Replace with your actual API endpoint
    const start = i * chunkSize;
    const end = Math.min(start + chunkSize, file.size);
    const chunk = file.slice(start, end);


    const formData = new FormData();
    formData.append('chunk', chunk);
    formData.append('totalChunks', chunks);
    formData.append('currentChunk', i + 1);

    try {
      const response = await axios.post(endpoint, formData);
        // console.log(response)
     if (response.status == 200) {
        console.log(`Chunk ${i + 1} of ${chunks} uploaded successfully.`);
      } else {
        console.error(`Failed to upload chunk ${i + 1}.`);
      } 

    } catch (error) {
      console.error(`Error uploading chunk ${i + 1}:`, error);
      return; 
    } 
  }

  console.log('File upload complete.');
}
</script>

</body>
</html>
